<script lang="ts" setup>
import { useProductStore } from "@/stores/product";

const productStore = useProductStore();
</script>
<template>
  <v-dialog v-model="productStore.deleteDialog" persistent width="auto">
    <v-card>
      <v-card-title class="text-h5"> Confirm Delete </v-card-title>
      <v-card-text>Do you want to delete this product</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="black"
          variant="text"
          @click="productStore.deleteDialog = false"
        >
          Cancel
        </v-btn>
        <v-btn
          color="red"
          variant="text"
          @click="productStore.deleteProduct(productStore.deleteId)"
        >
          Delete
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
