<script lang="ts" setup>
import { useUserStore } from "@/stores/user";

const userStore = useUserStore();
</script>
<template>
  <v-dialog v-model="userStore.deleteDialog" persistent width="auto">
    <v-card>
      <v-card-title class="text-h5"> Confirm Delete </v-card-title>
      <v-card-text>Do you want to delete this user</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="black"
          variant="text"
          @click="userStore.deleteDialog = false"
        >
          Cancel
        </v-btn>
        <v-btn
          color="red"
          variant="text"
          @click="userStore.deleteUser(userStore.deleteId)"
        >
          Delete
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
